*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1119px;
}

/* HEADER */
.top_line {
    background-color: #000000;
}

.top_line_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contacts,
.registration {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 15px;
}

.contacts_item {
    margin-left: 10px;
    font-family: PT Sans, serif;
    font-weight: 400;
    font-size: 12px;
    color: #969696;
}

.registration_item {
    margin-left: 10px;
    font-family: PT Sans, serif;
    font-weight: 400;
    font-size: 12px;
    color: #969696;
}

.registration_item a {
    text-decoration: none;
    font-family: PT Sans, serif;
    font-weight: 400;
    font-size: 12px;
    color: #969696;
}

.second_line {
    background-color: #0F0F0F;
    padding-top: 25px;
    padding-bottom: 25px;
}

.second_line_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigation {
    margin-left: auto;
}

.navigation a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: PT Sans, serif;
    font-weight: 400;
    font-size: 14px;
    color: #969696;
    padding-left: 25px;
    padding-right: 25px;
}

.navigation a:hover {
    color: #FFFFFF;
    background-color: #1F1F1F;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;
}

.cart_and_browse a {
    text-decoration: none;
    margin-left: 30px;
}

/* MAIN */
.first_screen {
    background-image: url('../images/first_screen.png');
    background-size: cover;
    /*min-height: 810px;
    height: 100%;*/
}

.first_screen .container {
    display: flex;
    flex-direction: column;
}

.logo_first_screen {
    margin: 160px auto 80px;
}

.first_screen_text {
    font-family: PT Sans, serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 auto 154px;
    width: 730px;
}

/* NEW SEASON */
.second_screen {
    display: flex;
    flex-direction: row;
}

.new_season {
    width: 100%;
    /*min-width: 1040px;*/
    background: #000000;
}

.new_season_item {
    display: flex;
    justify-content: center;
    padding-top: 93px;
    padding-bottom: 93px;
    font-family: Playfair Display, serif;
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
}

.new_season_item:after {
    position: absolute;
    display: block;
    content: "";
    width: 120px;
    height: 3px;
    background-color: #FFFFFF;
    top: 180px;
}

.season_card_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    position: relative;
}

.card img {
    background-color: #191B1C;
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 53px 22px;
}

.card a {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.card figcaption {
    display: flex;
    flex-direction: column;
}

.name {
    font-family: Playfair Display, serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    margin-top: 25px;
    margin-bottom: 10px;
}

.price {
    font-family: Playfair Display, serif;
    font-weight: 700;
    font-size: 21px;
    color: #D0D0D0;
    margin-bottom: 93px;
}

/* NEW COLLECTION */
.new_collection {
    background-image: url("../images/new_collection.png");
    background-size: cover;
    /*z-index: 5;*/
    /*min-width: 860px;*/
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 500px;
}

.new_collection_text {
    font-family: Playfair Display, serif;
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    display: flex;
    justify-content: center;
}

.new_collection_text:after {
    position: absolute;
    display: block;
    content: "";
    width: 120px;
    height: 3px;
    background-color: #FFFFFF;
    top: 80px;
}

.new_collection button {
    border: 1px solid #FFFFFF;
    align-items: center;
    padding: 12px 0;
    width: 128px;
    background: none;
    font-family: PT Sans, serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 80px auto;
}

.new_collection button:hover {
    cursor: pointer;
    background-color: #969696;
}

.new_collection button:active,
.new_collection button:focus {
    outline-style: none;
}

/* COLLECTION 2018 */
.third_screen {
    display: flex;
    flex-direction: row;
    background-color: #0F0F0F;
}

.third_screen_image {
    background-image: url("../images/third_screen.png");
    background-size: cover;
    width: 40%;
    min-width: 880px;
}

.collection_2018 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    padding-top: 100px;
}

.collection_2018_title {
    font-family: Playfair Display, serif;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    display: flex;
    justify-content: center;
}

.collection_2018_title:after {
    position: absolute;
    display: block;
    content: "";
    width: 120px;
    height: 3px;
    background-color: #FFFFFF;
    top: 80px;
}

.collection_2018_text {
    font-family: PT Sans, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    width: 471px;
    margin-top: 50px;
}

.collection_2018 button {
    border: 1px solid #FFFFFF;
    align-items: center;
    padding: 12px 0;
    width: 311px;
    background: none;
    font-family: PT Sans, serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 80px auto;
}

.collection_2018 button:hover {
    cursor: pointer;
    background-color: #969696;
}

.collection_2018 button:active,
.collection_2018 button:focus {
    outline-style: none;
}

/* FOURTH SCREEN */

.fourth_screen {
    background-color: #000000;
}
.fourth_screen_title {
    display: flex;
    justify-content: center;
    font-family: Playfair Display, serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    padding-top: 120px;
    padding-bottom: 120px;
}

.fourth_screen_title:after {
    position: absolute;
    display: block;
    content: "";
    width: 120px;
    height: 3px;
    background-color: #FFFFFF;
    top: 220px;
}

.fourth_screen .season_card_wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* FIFTH SCREEN */
.fifth_screen {
    background-color: #0F0F0F;
}

.fifth_screen_title {
    display: flex;
    justify-content: center;
    font-family: Playfair Display, serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    padding-top: 60px;
    padding-bottom: 120px;
}

.fifth_screen_title:after {
    position: absolute;
    display: block;
    content: "";
    width: 120px;
    height: 3px;
    background-color: #FFFFFF;
    top: 170px;
}

.fifth_screen_logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 60px;
}

/* SIXTH SCREEN */
.sixth_screen {
    background-image: url("../images/sixth_screen.png");
    background-size: cover;
}

.sixth_screen .container {
    display: flex;
    flex-direction: row;
}
